go 1.25.5

use (
	./concurrency
	./config
	./consts
	./ctxutil
	./data
	./data/all
	./data/cache
	./data/elasticsearch
	./data/entgo
	./data/kafka
	./data/meilisearch
	./data/mongodb
	./data/mysql
	./data/neo4j
	./data/opensearch
	./data/postgres
	./data/rabbitmq
	./data/redis
	./data/sqlite
	./ecode
	./examples/01-basic-rest-api
	./examples/02-mongodb-api
	./examples/03-multi-module
	./examples/04-realtime-websocket
	./examples/05-background-jobs
	./examples/06-event-driven
	./examples/07-authentication
	./examples/08-full-application
	./examples/09-wire
	./extension
	./logging
	./logging/hooks/elasticsearch
	./logging/hooks/meilisearch
	./logging/hooks/opensearch
	./messaging
	./net
	./oss
	./security
	./types
	./utils
	./validation
)
