go 1.25.3

use (
	./concurrency
	./config
	./consts
	./ctxutil
	./data
	./ecode
	./examples/01-basic-rest-api
	./examples/02-mongodb-api
	./examples/03-multi-module
	./examples/04-realtime-websocket
	./examples/05-background-jobs
	./examples/06-event-driven
	./examples/07-authentication
	./examples/08-full-application
	./examples/09-wire
	./extension
	./logging
	./messaging
	./net
	./security
	./types
	./utils
	./validation
	./version
)
